.button-back {
    color: #000000;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    width: 90px;
    background-color: inherit;
    border: none;
}

.button-back:focus {
    outline: none;
}

.button-back__text {
    text-decoration: underline;
}

.home-page__title {
    text-transform: none;
    margin-bottom: 24px;
}

.button-link {
    display: block;
    color: #000000;
    text-decoration: none;
    width: 100%;
    background-color: #FFFFFF;
    border: none;
    font: 20px/56px var(--main-font);
    text-align: center;
    font-weight: 600;
}

.button-link_home {
    text-transform: uppercase;
    text-decoration: underline;
    line-height: 112px;
}

.wrapper-content {
    padding: 24px 16px;
}

.service-full__content {
    padding-left: 16px;
    padding-right: 16px;
}

.service-full__text_bold {
    font-weight: 600;
}

.service-full__img-wrapper {
    overflow: hidden;
}

.service-full__img {
    position: relative;
    right: 25%;
    object-fit: cover;
}

.service-full__price {
    display: flex;
    justify-content: space-between;
}

.service-full__details {
    font-weight: 600;
    font: 28px/32px var(--main-font);
    font-weight: 600;
    margin-bottom: 24px;
    margin-top: 24px;
}
