$font-stack: 'Montserrat', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

.text-paragraph {
  font: 16px/24px $font-stack;
  font-weight: 300;
}

.title-block {
  font: 25px/32px $font-stack;
  font-weight: 600;
}

.wrapper-content {
  padding: 32px 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 16px;
}

.nav__button {
  position: relative;
  width: 48px;
  height: 48px;
  background-color: #000000;
  border: none;
  &::after {
    content: "";
    width: 21px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 16px;
    left: 14px;
    box-shadow: 0 7px 0 0 #fff, 0 14px 0 0 #fff;
  }
}

.nav__list-desktop {
  display: none;
}

.home-page {
  background-color: #000000;
  color: #ffffff;
}

.home-page__content {
  padding: 30px 15px 24px;
}

.home-page__title {
  margin-bottom: 8px;
  text-transform: uppercase;
  font: 36px/40px $font-stack;
  font-weight: 600;
}

.home-page__text-uppercase {
  padding-bottom: 40px;
  font: 24px/32px $font-stack;
  text-transform: uppercase;
  font-weight: 300;
}

.home-page__img {
  width: 100%;
}

.info-block_black {
  background-color: #000000;
  color: #ffffff;
}

.info-block-right {
  text-align: right;
}

.info-block__text {
  margin-top: 16px;
}

.info-block__wrapper-img_right {
  display: flex;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
  height: 220px;
  &::before {
    content: "";
    position: absolute;
    left: 110px;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-bottom-width: 187px;
    border-top-width: 0px;
    border-left: 93px solid #000000;
  }
}

.info-block__wrapper-img_left {
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    right: 110px;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-top-width: 0px;
    border-bottom-width: 187px;
    border-right: 93px solid #ffffff;
  }
}

.info-block__wrapper-img_right_white {
  &::before {
    border-left: 93px solid #ffffff;
  }
}

.info-block__img {
  width: 70%;
  display: inline-block;
}

.info-block__title-all {
  font: 36px/40px $font-stack;
  font-weight: 600;
  padding: 32px 16px 0;
}

.main-menu{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/menu-img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-menu__item {
  list-style: none;
  text-align: center;
  border-bottom: 1px solid white;
}

.main-menu__item:hover {
  background-image: linear-gradient(rgba(203, 200, 200, 0.2), rgba(203, 200, 200, 0.2));
}

.main-menu__link {
  text-decoration: none;
  color: #ffffff;
  font: 24px/144px $font-stack;
  font-weight: 700;
}

.feedback__title {
  margin-bottom: 20px;
}

.feedback__title-amount {
  font: 17px/24px $font-stack;
  font-weight: 600;
}

.feedback__details {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.feedback__name {
  font-weight: 600;
}

.feedback__button {
  color: #000000;
}

.photo-owl__item {
  height: 220px;
}

.contact,
.feedback-form{
  background-color: #000000;
  color: #ffffff;
}

.contact__title {
  padding-bottom: 24px;
}

.contact__text {
  width: 60%;
  margin-bottom: 24px;
}

.contact__social-network {
  margin-left: 15px;
}

.contact__social-link {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding-right: 30px;
}

.contact__map {
  width: 100%;
  height: 220px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%) contrast(100%);
}

.feedback-form__text {
  margin-bottom: 32px;
}

.form__input {
  width: 100%;
  border: 1px solid #FFFFFF;
  border-radius: 0;
  color: #FFFFFF;
  background-color: #000000;
  font: 16px/48px $font-stack;
  padding-left: 16px;
  margin-bottom: 24px;
}

.feedback-form__textarea {
  height: 150px;
}

.feedback-form__checkbox {
  opacity: 0;
}

.feedback-form__label-checkbox {
  display: flex;
  margin-bottom: 32px;
  &::before {
    content: "";
    position: relative;
    top: 4px;
    color: #FFFFFF;
    font: 20px/30px FontAwesome;
    margin-right: 10px;
    text-align: center;
    min-width: 20px;
    height: 20px;
    background: #000000;
    border: 1px solid #e3e3e3;
  }
}


.feedback-form__label-checkbox:checked + .feedback-form__label-checkbox:before {
  content: "\f00c";
}

.feedback-form__label-checkbox:disabled + .feedback-form__label-checkbox:before {
  background: #eee;
  color: #aaa;
}

.form__submit {
  width: 100%;
  background-color: #FFFFFF;
  font: 20px/48px $font-stack;
  text-align: center;
  font-weight: 600;
}

.subscribe-form {
  background-color: #2b2b2b;
  color: #FFFFFF;
}